@font-face {
  font-family: "Garet";
  src: url("../../public/fonts/garantpro-bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Garet";
  src: url("../../public/fonts/garantpro-regular.otf");
  font-weight: normal;
}

.Header_wrapper {
  margin: 20px 0;
}

.Header_contentRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Header_authSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header_menuItem {
  font-family: Garet;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  color: #444444;
  padding-left: 4em;
}

.Header_navigation {
  display: flex;
  align-items: center;
}

.Header_menuItem_bold {
  font-family: Garet;
  font-weight: bold;
  font-size: 15px;
  line-height: 29px;
  color: #444444;
  padding-left: 4em;
}

.Header_button_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  background: #ffcc00;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  color: #000;
  cursor: pointer;
}

.Header_button_primary:hover {
  background: #fac80f;
}

.Header_button_secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  background: #e5e7eb;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  margin-right: 15px;
  cursor: pointer;
}

.Header_button_secondary:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 765px) {
  .Header_authSection {
    display: none;
  }

  .Header_navigation .Header_menuItem {
    display: none;
  }
}

.HeroSection_contentRow {
  display: flex;
}

.HeroSection_box {
  margin-left: 50px;
  width: 700px;
  height: 400px;
  -webkit-clip-path: polygon(85% 0, 100% 0, 100% 100%, 0 100%, 0 65%);
  clip-path: polygon(85% 0, 100% 0, 100% 100%, 0 100%, 0 65%);
  background: url(../../public/assets/Images/POS\ agent\ -\ nomba.webp);
  background-size: cover;
  margin-right: 60px;
}

.HeroSection_box2 {
  
  width: 970px;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 38% 85%, 32% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 45% 75%, 32% 100%, 0 100%);
  background: url(../../public/assets/Images/img.jpg);
  background-size: cover;
}

.HeroSection_box3 {
  margin-left: 50px;
  width: 640px;
  height: 300px;

  background: url(../../public/assets/Images/img5.jpg);
  background-size: cover;
  margin-right: 60px;
}

.Footer_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
}

.Footer_content_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.Footer_Item {
  font-family: Garet;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #444444;
  padding-bottom: 5px;
  cursor: pointer;
}

.Footer_Header_Item {
  font-family: Garet;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #121212;
  padding-bottom: 10px;
}

.Footer_wrapper {
  padding-top: 70px;
  background: #fafafa;
  padding-bottom: 80px;
}

.Footer_spacer {
  padding-bottom: 70px;
}

.Footer_content_terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.Footer_bottom_text {
  font-family: Garet;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #121212;
}

.Footer_bottom_text_left {
  font-family: Garet;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #121212;
  padding-left: 40px;
}

.Footer_bottom__navigation {
  display: flex;
  align-items: center;
}

.Footer_bottom_contentRow {
  display: flex;
  align-items: center;
}

.Footer_bottom_authSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer_bottom_wrapper {
  padding-top: 20px;
  padding-left: 20px;
}

.AccountSection_wrapper {
  width: 100%;
  height: 400px;
  background: #111;
}

.AccountSection_title {
  font-family: Garet;
  font-weight: bold;
  font-size: 49px;
  line-height: 59px;
  color: #fff;
}

.AccountSection_description {
  font-family: Garet;
  font-weight: normal;
  font-size: 21px;
  line-height: 31px;
  color: #fff;
}

.AccountSection_title span {
  color: #fac80f;
}

.AccountSection_contentRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 35px;
}

.AccountSection_button_text {
  font-family: Garet;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.AccountSection_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 55px;
  background: #383838;
  border-radius: 20px;
  border: none;
  padding: 0 10px;
  margin-top: 30px;
}

.AccountSection_phone_display {
  padding: 23px 0;
}

.CommunitySection_wrapper {
  width: 100%;
  height: 700px;
  background: #fafafa;
}

.CommunitySection_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 60px 0;
  font-family: Garet;
  font-weight: bold;
  font-size: 37px;
  line-height: 47px;
  color: #121212;
}

.CommunitySection_image_container {
}

.CommunitySection_image1 {
  width: 100%;
  height: 350px;
  margin: 0 10px;
  background: url(../../public/assets/Images/img1.jpg);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.7) 0px -90px 50px 220px inset;
  overflow: hidden;
}

.CommunitySection_image2 {
  position: relative;
  width: 300px;
  height: 400px;
  background: url(../../public/assets/Images/img2.webp);
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0px -90px 50px 220px inset;
  margin-left: 40px;
  overflow: hidden;
}

.CommunitySection_image3 {
  position: relative;
  width: 300px;
  height: 400px;
  background: url(../../public/assets/Images/img3.jpg);
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0px -90px 50px 220px inset;
  margin-left: 40px;
  overflow: hidden;
}

.CommunitySection_image4 {
  position: relative;
  width: 300px;
  height: 400px;
  background: url(../../public/assets/Images/img4.jpg);
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0px -90px 50px 220px inset;
  margin-left: 40px;
  overflow: hidden;
}

.CommunitySection_image_text {
  position: absolute;
  z-index: 999;
  left: 17px;
  right: 0;
  top: 62%; /* Adjust this value to move the positioned div up and down */
  text-align: left;
  width: 80%;
  font-family: Garet;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.CommunitySection_image_date {
  position: absolute;
  z-index: 999;
  left: 17px;
  right: 0;
  top: 89%; /* Adjust this value to move the positioned div up and down */
  text-align: left;
  width: 80%;
  font-family: Garet;
  font-weight: bold;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 3px;
  color: #fff;
}

@media (max-width: 765px) {
  .CommunitySection_title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
    font-family: Garet;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #121212;
  }
}

.AboutSection_wrapper {
  padding: 50px 0;
  width: 100%;
  height: 580px;
  background: #111;
}

.AboutSection_title {
  text-align: center;
  font-family: Garet;
  font-weight: bold;
  font-size: 37px;
  line-height: 47px;
  color: #fff;
}

.AboutSection_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 160px;
}

.AboutSection_container_title {
  padding-top: 60px;
  font-family: Garet;
  font-weight: bold;
  font-size: 21px;
  line-height: 31px;
  color: #fff;
}

.AboutSection_container_description {
  padding-top: 10px;
  font-family: Garet;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}

.POS_Section_wrapper {
  padding: 50px 0;
  width: 100%;
  height: 780px;
  background: #fff;
}

.POS_Section_title {
  text-align: center;
  font-family: Garet;
  font-weight: bold;
  font-size: 37px;
  padding-top: 100px;
  line-height: 47px;
  color: #121212;
}

.POS_Section_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}

.POS_Section_Lite {
  width: 550px;
  height: 550px;
  background: #fafafa;
}

.POS_Section_Pro {
  width: 550px;
  height: 550px;
  background: #111;
}

@media (max-width: 765px) {
  .POS_Section_title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
    font-family: Garet;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #121212;
  }
}

.HeroSection_wrapper {
  padding: 25px 0;
}

.HeroSection_wrapper2 {
}

.HeroSection_title {
  padding-top: 50px;

  text-align: left;
  font-family: Garet;
  font-weight: bold;
  font-size: 65px;
  line-height: 75px;
  color: #1f1f1f;
}

.HeroSection_description {
  padding-top: 20px;
  text-align: left;
  font-family: Garet;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: #121212;
  max-width: 600px;
}

.Hero_button_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 16em;
  height: 4em;
  background: #ffcc00;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  color: #000;
  margin-left: 50px;
}

.Hero_button_primary2 {
  display: none;
}

.Hero_button_primary3 {
  display: none;
}

@media (max-width: 765px) {
  .HeroSection_title {
    padding-left: 10px;
    text-align: left;
    font-family: Garet;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    color: #1f1f1f;
  }

  .HeroSection_description {
    padding-left: 10px;
    text-align: left;
    font-family: Garet;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #121212;
  }
  .HeroSection_box {
    display: none;
  }

  .Hero_button_primary2 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ffcc00;
    height: 4em;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    color: #000;
  }

  .Hero_button_primary {
    display: none;
  }

  .Hero_button_primary3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ffff;
    height: 4em;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    color: #000;
  }

  .HeroSection_box3 {
    display: none;
  }

  .HeroSection_box2 {
    width: 970px;
    height: 200px;
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% 95%,
      38% 85%,
      32% 100%,
      0 100%
    );
    clip-path: polygon(0 0, 100% 0, 100% 75%, 45% 75%, 32% 100%, 0 100%);
    background: url(../../public/assets/Images/img.jpg);
    background-size: cover;
  }
}

.OrderSection_wrapper {
  height: 1200px;
  width: 100%;
  background: url(../../public/assets/Images/body.png);
  background-size: cover;
}

.OrderSection_Background {
  height: 1000px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: url(../../public/assets/Images/terminal.webp);
  background-size: cover;
}

.OrderSection_title {
  padding-top: 50px;
  text-align: center;
  font-family: Garet;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #111;
}

.OrderSection_description {
  text-align: center;
  font-family: Garet;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #121212;
}

.OrderSection_button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 25px 0;
}

.OrderSection_button_primary {
  width: 16em;
  height: 4em;
  background: #ffcc00;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OrderSection_button_secondary {
  width: 16em;
  height: 4em;
  background: #ffff;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OrderSection_priceButton_Text {
  font-family: Garet;
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

.OrderSection_priceButton_Text span {
  font-family: Garet;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  padding-right: 4px;
}

.OrderSection_priceButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 30px;
  background: #ffcc00;
  border-radius: 20px;
  border: none;
  padding: 0 10px;
  cursor: pointer;
}

.OrderSection_priceButton_container {
}

.POS_Section_Lite_middle_title {
  padding-top: 20px;
  font-family: Garet;
  font-weight: bold;
  font-size: 49px;
  line-height: 59px;
  color: #121212;
}

.POS_Section_Lite_top_title {
  font-family: Garet;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #121212;
}

.POS_Section_Lite {
  padding: 40px 40px;
}

.POS_Section_Pro_middle_title {
  padding-top: 20px;
  font-family: Garet;
  font-weight: bold;
  font-size: 49px;
  line-height: 59px;
  color: #fff;
}

.POS_Section_Pro_top_title {
  font-family: Garet;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.POS_Section_Pro {
  padding: 40px 40px;
}

.InformationSection_wrapper {
  width: 100%;
  height: 700px;
}
